##
# This is a template of settings that specifies TAF settings.
# Before running Maven or TestNG test runners, create new file local.properties
# based on this template and put it next to the same folder with template.
# Then, if needed, change test.usr and test.psw parameters.
##

backend.baseUrl=http://localhost:8080
test.usr = default
test.psw = 1q2w3e
